version: '3'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --skip-character-set-client-handshake
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: void_archive
      MYSQL_ROOT_PASSWORD: root_secure_pass
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always